*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f2f2;
}
section{
    background-color: #fff;
    width: 350px;
    height: 450px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 15px;
    gap: 5px;
}
article.center{
    align-items: center;
    margin: 10px 15px;
}
h1{
    font-size: 30px;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
a{
    text-decoration: none;
    color: #004cff;
}
a:hover{
    cursor: pointer;
}
button{
    color: #fff;
    padding: 10px;
    background-color: #004cff;
    border: none;
    border-radius: 5px;
    width: 100px;
}
button:hover{
    cursor: pointer;
}
input{
    height: 35px;
    width: 300px;
    border: 2px solid #dbdbdb;
    padding-left: 10px;
}
.submit-button{
    display: inline;
}
.submit-button button{
    float: right;
}
